[package]
name = "ZKAuth"
version = "0.0.0"
edition = "2021"
publish = false

[lib]
crate-type = ["lib", "cdylib"]
doctest = false

[dependencies]
soroban-sdk = { version = "25.0.0", features = ["hazmat-crypto"] }
[dev-dependencies]
soroban-sdk = { version = "25.0.0", features = ["hazmat-crypto"] }